body {
    background-color: rgb(255, 253, 248);
    font-family: 'Belleza', sans-serif;
}

#header {
    margin-left: auto;
    margin-top: 5em;
}

.mainTextColor {
    color: #D9514E;
}

#footerSection {
    margin-top: 6em;
}

#allText {
    margin-left: 5em;
    margin-top: 8em;
}

.linkText {
    margin-left: 7.5em;
}